button {
    padding: 15px 25px;
    margin: 10px;
    border: 0;
    font-weight: bold;
    font-size: 1.1em;
    transition: ease-in-out 0.1s;
    cursor: pointer;
    box-shadow: 0px 10px 10px 2px gray;
    outline: 0;
}

button:hover:enabled {
    background: gray;
    color: white;
}

button:disabled {
    cursor: default;
}

button:active {
    transform: scale(1.1);
}